<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="logo">
            <img [src]="src[0]" alt="">
          </div>
          <ul class="nav-head">
            <li><a href="">skills</a></li>
            <li><a href="">works</a></li>
            <li><a href="">contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          
        </div>
      </div>
    </div>
  </div>
</div>
